<ilegra-header></ilegra-header>
<ilegra-navbar [menuItens]="navbarMenuItens"></ilegra-navbar>
<ilegra-side-menu [menuItens]="sideMenuItens"></ilegra-side-menu>
<main>
    <ng-content></ng-content>
</main>
