<ilegra-section titlePrimary="404 - Page Not Found">
  <section class="container container-view flex-column d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center">
        <img alt="Yoda Image" src="../../../../assets/star-wars-the-last-jedi-hero.jpg" width="350px" height="300px">

        <h1>{{ title }} </h1>
        <h3> {{ subtitle }}</h3>
      </div>
    </section>
</ilegra-section>
