<ilegra-layout-base
    [sideMenuItens]="menuItens"
    [navbarMenuItens]="navbarMenuItens"
>
   <router-outlet *ngIf="!loadingGlobal"></router-outlet>
</ilegra-layout-base>

<ilegra-loading *ngIf="loading" overlay='true' [visible]='loading'></ilegra-loading>
